<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link rel="icon" type="image/png" sizes="96x96" href="https://wannxteam.github.io/y/public/favicon.png">
  <link href="https://wannxteam.github.io/y/public/css/nucleo-icons.css" rel="stylesheet" />
  <link href="https://wannxteam.github.io/y/public/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
<link id="pagestyle" href="https://wannxteam.github.io/y/public/css/soft-ui-dashboard.css?v=1.0.3" rel="stylesheet" />
</head>
<nav id="header">
  <nav class="navbar navbar-expand-lg blur blur-rounded top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
          <div class="container-fluid">
          <lord-icon
    src="https://cdn.lordicon.com/udwhdpod.json"
    trigger="loop"
    colors="primary:#121331,secondary:#242424"
    stroke="75"
    style="width:50px;height:50px"></lord-icon>
            <a class="navbar-brand font-weight-bolder ms-lg-0 ms-6 " href="./">
              VikoAPI
            </a>
            <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon mt-2">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </span>
            </button>
            <div class="collapse navbar-collapse" id="navigation">
              <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                  <a class="nav-link d-flex align-items-center me-2 active" aria-current="page" href="./">
                    <i class="fa fa-chart-pie opacity-6 text-dark me-1"></i>
                    Dashboard
                  </a>
                </li>
                <% if (user) { %>
                <li class="nav-item">
                  <a class="nav-link me-2" href="/users/logout">
                    <i class="fa fa-user opacity-6 text-dark me-1"></i>
                    Log out
                  </a>
                </li>
				<li class="nav-item">
                  <a class="nav-link me-3" href="/premium">
                    <i class="fa fa-user opacity-6 text-dark me-1"></i>
                    Premium
                  </a>
                </li>
				</ul>
                <% } else { %>
                <li class="nav-item">
                  <a class="nav-link me-2" href="/users/register">
                    <i class="fas fa-user-circle opacity-6 text-dark me-1"></i>
                    Sign Up
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-2" href="/users/login">
                    <i class="fas fa-key opacity-6 text-dark me-1"></i>
                    Sign In
                  </a>
                </li>
              </ul>
               <% } %>
			   <li class="nav-item">
                  <a class="nav-link me-3" href="/premium">
                    <i class="fa fa-user opacity-6 text-dark me-1"></i>
                    Premium
                  </a>
                </li>
              <ul class="navbar-nav d-lg-block d-none">
                <li class="nav-item">
                  <a href="/docs" class="btn btn-sm btn-round mb-0 me-1 bg-gradient-dark">Open Docs</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
</header>

<script src="https://wannxteam.github.io/y/public/js/core/popper.min.js"></script>
  <script src="https://wannxteam.github.io/y/public/js/core/bootstrap.min.js"></script>
  <script src="https://wannxteam.github.io/y/public/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="https://wannxteam.github.io/y/public/js/plugins/smooth-scrollbar.min.js"></script>
 
  <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="https://wannxteam.github.io/y/public/js/soft-ui-dashboard.min.js?v=1.0.3"></script>
