<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WANN RESTAPI</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="../assets/css/soft-ui-dashboard.css?v=1.0.3" rel="stylesheet" />

        <meta name="keywords" content="VikoAPI, viko-api, Free rest api, viko docs, vikodk67, zahir api, tobz api, studiovdk, programing unpas, pikopi, indonesia, web api, rest api gratis">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="robots" content="vikoAPI, viko-api, free-rest-api">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="free rest api viko, untuk bot whatsapp, line, telegram, atau lainnya">
        <meta name="google-site-verification" content="326ziQciDjp-x61P9UMC3-rlUpGIvVUFwOj1gas64UQ"/>
	      <meta name="robots" content="vikoapi, viko-api, free rest api, viko rest api, zhirr web, zeks.xyz">
        <meta name="author" content="V i k o d e v">

</head>

<body id="top">

        <%- include('nav')  %> 

        <%- body %>
  
<script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/soft-ui-dashboard.min.js?v=1.0.3"></script>
  </body>
  </html>
