<section id="pricing">
    <div class="row pricing-content">

        <div class="col-four pricing-intro">
            <h1 class="intro-header" data-aos="fade-up">Pricing Options</h1>

            <h4>Hi, <%= username %>. Mau Belajar Membuat Rest-Api lebih jauh lagi ?</h4>
            <p data-aos="fade-up">
                Dengan Membeli Full App Demo ini, Kamu akan mendapatkan beberapa fitur menarik.
                Kamu bisa Menambahkan/Menghapus User Premium, Custom dan Reset Limit Apikey, Custom/Mengganti Apikey jika User Premium,
                Mendapatkan Fitur Photooxy, dan masih banyak lagi. Silahkan Hubungi Saya (Zekais) dengan Klik "Buy Now" Jika Kamu Tertarik.
            </p>
            <p data-aos="fade-up">Kalau mau Nawar Wajar Silahkan, Cuss PC aja.</p>
        </div>

        <div class="col-eight pricing-table">
            <div class="row">

                <div class="col-six plan-wrap">
                    <div class="plan-block" data-aos="fade-up"> 

                        <div class="plan-top-part">
                            <h3 class="plan-block-title">Free App</h3>
                            <p class="plan-block-price"><sup>$</sup>0</p>
                            <p class="plan-block-per">Rp. 0</p>
                        </div>

                        <div class="plan-bottom-part">
                            <ul class="plan-block-features">
                                <li><span>Login</span></li>
                                <li><span>Register</span></li>	                  
                                <li><span>Landing Page</span></li>		                  
                                <li><span>Create Apikey</span></li>
                            </ul>

                            <a class="button button-primary large" href="https://github.com/fawwaz37/nodejs-restapi" target="__blank">Clone App</a>
                        </div>  
                 
                    </div>
                </div>

                <div class="col-six plan-wrap">
                    <div class="plan-block primary" data-aos="fade-up">

                        <div class="plan-top-part">
                            <h3 class="plan-block-title">Premium/Full App</h3>
                            <p class="plan-block-price"><sup>$</sup>5</p>
                            <p class="plan-block-per">Rp. 75.000</p>
                        </div>

                        <div class="plan-bottom-part">
                            <ul class="plan-block-features">
                                <li><span>Premium User (Add, Delete, Expired)</span></li>
                                <li><span>Limit Apikey (Custom, Reset One/All)</span></li>	                  
                                <li><span>Custom Apikey</span></li>		                  
                                <li><span>Pricing Section</span></li>
                                <li><span>Photooxy</span></li>
                                <li><span>Request (Total, Today), Visitor, Total User</span></li>
                            </ul>

                            <a class="button button-primary large" href="https://api.whatsapp.com/send/?phone=6287715579966&text&app_absent=0" target="__blank">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>               
        </div>
</section>>