<!DOCTYPE html>
<html>

<head>
  <script data-ad-client="ca-pub-5274370025994358" async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-8FB675RP8Z"></script>
  <script> window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-8FB675RP8Z');
</script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script> $.getJSON("https://api.ipify.org?format=json",
                                          function(data) {
  
            // Setting text of element P with id gfg
            $("#gfg").html(data.ip);
        })
    </script>
  <meta charset="utf-8">
  <meta property="og:image" content="https://i.ibb.co/QNJVy2s/4-K-Loopable-Abstract-Color-Gradient-Background-Animation.jpg">
  <link rel="icon" type="image/png" href="https://i.ibb.co/xsKpnLC/Untitled.png">
  <meta name="keywords" content="VikoAPI, viko-api, Free rest api, viko docs, vikodk67, zahir api, tobz api, studiovdk, programing unpas, studiovdk entertainment">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=0.78, shrink-to-fit=no">
  <meta name="description" content="free rest api viko beta version">
  <meta name="author" content="V i k o d e v">
  <title>VikoAPI - tiktok downloader</title>
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="css/ruang-admin.min.css" rel="stylesheet">
  <script src="https://studiovdk.herokuapp.com/main-menu/databs.js"></script>
  <script src="https://studiovdk.herokuapp.com/main-menu/berita.js"></script>
  <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
  <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <style> .loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
</head>

<body id="page-top">
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar" style="">
      <a class="sidebar-brand d-flex align-items-center justify-content-center bg-info" href="#">
        <div class="sidebar-brand-icon">
          <span class="fas fa-fire"></span>
        </div>
        <div class="sidebar-brand-text mx-3">VIKO-API</div><br>
      </a>
      <hr class="sidebar-divider my-0">
      <li class="nav-item active">
        <a class="nav-link" href="./">
          <i class="fas fa-fw fa-code"></i>
          <span>Index</span></a><br>
      </li>
      <hr class="sidebar-divider my-0">
      <li class="nav-item active">
        <a class="nav-link" href="./apidocs">
          <i class="fas fa-fw fa-fire"></i>
          <span>API DOCS</span></a>
      </li>
      <hr class="sidebar-divider">
      <div class="sidebar-heading">
        <div class="version"><b>Sosial Media</b></div>
      </div>
      <li class="nav-item">
        <a class="nav-link collapsed" href="https://www.instagram.com/vikodwik_rmx/">
          <i class="fab fa-fw fa-instagram"></i>
          <span>Instagram</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="https://www.youtube.com/channel/UCXWQsUJosWcMEsiT-SqIrSw/videos">
          <i class="fab fa-fw fa-youtube"></i>
          <span>Youtube</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="https://www.facebook.com/viko.dwi.92">
          <i class="fab fa-fw fa-facebook"></i>
          <span>Facebook</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="https://github.com/vikodk67">
          <i class="fab fa-fw fa-github"></i>
          <span>Github</span>
        </a>
      </li>
      <hr class="sidebar-divider">
      <li class="nav-item">
        <div class="sidebar-heading">
        <div class="version"><b>Lainnya</b></div>
      </div>
        <a class="nav-link collapsed" href="https://vikoapi-index.herokuapp.com/">
          <i class="fas fa-fw fa-fire"></i>
          <span>Vikoapi V2</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="https://link.dana.id/qr/3gs4e8r4">
          <i class="fas fa-fw fa-donate"></i>
          <span> Donate</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="http://studiovdk.herokuapp.com/api/tentang/index.html">
          <i class="fas fa-info-circle"></i>
          <span> Tentang</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="http://studiovdk.herokuapp.com/mi/index.html">
          <i class="fas fa-fw fa-robot"></i>
          <span>Whatsapp Bot</span>
        </a>
      </li>
    </ul>
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content" style=" background-image: url(https://pingendo.com/site-assets/cover.jpg);  background-position: top left;  background-size: 100%;  background-repeat: repeat;">
        <!-- TopBar -->
        <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top bg-info">
          <button id="sidebarToggleTop" class="btn btn-link mr-1">
            <i class="fa fa-bars"></i>
          </button>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown no-arrow">
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-1 small" placeholder="What do you want to look for?" aria-label="Search" aria-describedby="basic-addon2" style="border-color: #3f51b5;">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>
            <style> .qon {
  float: left;
  width: 100%;
  padding: 1%;
  margin: 1% 10%;
  height: 40px;
  border-radius: 0.3em;
  box-shadow: 0 0.1em 0.4em;
}
</style>
            <div class="topbar-divider d-none d-sm-block"></div>
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <marquee class="qon" id="pedofil" direction="left" onmouseover="stop()" onmouseout="start()"></marquee>
                <img class="img-profile rounded-circle" src="http://studiovdk.herokuapp.com/api/tentang/images/vhekr.gif" style="max-width: 60px">
                <span class="ml-2 d-none d-lg-inline text-white small">Guest</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="http://studiovdk.herokuapp.com/about.html">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> About </a>
                <a class="dropdown-item" href="https://github.com/vikodk67/Rest-API/issues">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> Repport Bug </a>
                <a class="dropdown-item" href="https://vikoapi-index.herokuapp.com">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i> Login RestAPI V2 </a>
              </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-comments"></i>
              </a>
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                <a class="dropdown-item d-flex align-items-right" href="#">
                  <div>
                    <center>
                    <iframe src="https://www5.cbox.ws/box/?boxid=928423&boxtag=iwgGdE" width="100%" height="480" allowtransparency="yes" allow="autoplay" frameborder="0" marginheight="0" marginwidth="0" scrolling="auto"></iframe>
                  </center>
                  </div>
                </a>
              </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-info-circle"></i>
              </a>
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header"> Your Android/PC </h6>
                <a class="dropdown-item d-flex align-items-right" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <lord-icon src="https://cdn.lordicon.com/wrprwmwt.json" trigger="loop" colors="primary:#ffffff,secondary:#ffffff" stroke="80" style="width:70px;height:70px">
                      </lord-icon>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">Agent</div>
                    <div id="demo" class="alert alert-info alert-dismissible" role="alert">
                      <div id="Statistic"></div>
                      <span id="tgl">Waiting</span> - <span id="bln">Connection</span> - <span id="thn"></span>
                    </div>
                  </div>
                </a>
              </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <span class="badge badge-danger badge-counter">1+</span>
              </a>
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header"> Notifikasi </h6>
                <div class="dropdown-item d-flex align-items-right" style="background-image: url(https://www.thepaintstoreonline.com/wp-content/uploads/2018/05/100280.jpg)">
                  <div class="mr-3">
                   <div id="crito">Tidak ada notifikasi</div>
                  </div>
                  <div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </nav>
        <!-- Topbar -->
        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
        <div id="notifini"></div>
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-100">DOWNLOADER</h1>
            <ol class="breadcrumb">
              <li style="color: white;" class="breadcrumb-item"><a href="./">Home</a></li>
              <li class="breadcrumb-item active" style="color: white;" aria-current="page">Dasboard</li>
            </ol>
          </div>
          <div class="row mb-3">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-lg-12">
              <!-- Progress bars basic -->
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Tiktok Download No Watermark</h6>
                </div>
                <div class="card-body">
                <div class="Input">
				<label for="input" class="Input-label">Masukan url tiktok dibawah ini untuk mendownload</label><br>
				<input type="text" id="myText" class="form-control" placeholder="LINK TIKTOK"></input><br>
				<center><button class="btn" onclick="myFuncti()">
				SUBMIT
				<div hidden id="spinner">
				<center>
				<div class="spinner-border spinner-border-sm" role="status">
                <span class="sr-only">Loading...</span>
                </div>
				</center>
				</div>
				</button></center><br>
				<h4></h4>
				<div id="tiktoksend">
				</div>
                </div>
                </div>
              </div>
            </div>
            <!-- Pie Chart -->
            <!-- Invoice Example -->
            <style>
			#spinner:not([hidden]) {
}

#spinner::after {
  content: "";
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  background: #00b7e0;
  padding: 8px 20px 7px 20px;
  border: solid #00ccff 0px;
  text-decoration: none;
}

.btn:hover {
  background: #0389ff;
  text-decoration: none;
}
</style>
            <div class="col-xl-5 col-md-5 mb-4">
              <!-- Modal with scrolling long content -->
            </div>
            </div>
            <div class="modal fade" id="exampleModalLong1" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Run code</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>DIUPDATE BANK</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                  <a href="./apidocs.html" class="btn btn-primary">Api docs</a>
                </div>
              </div>
            </div>
          </div>
            <!-- Datatables -->
          <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Example Code</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                <h5 class="font-weight-bold">NodeJS GET</h5>
                  <script src="https://gist.github.com/vikodk67/04cbdd21758b35ce768bd5e30fa242e4.js"></script>
                  <h5 class="font-weight-bold">PHP GET</h5>
                  <script src="https://gist.github.com/vikodk67/d1984bb4554c7e13782cec181c8502c7.js"></script>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
            <!---Container Fluid-->
          </div>
          <!-- Footer -->
          <!-- Footer -->
        </div>
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
              <div class="copyright text-center my-auto">
                <span>© 2020 -<script>
                    document.write(new Date().getFullYear());
                  </script> - developed by <b><a href="#" target="_blank">V i k o d e v</a></b>
                </span>
              </div>
            </div>
          </footer>
      </div>
      <!-- Scroll to top -->
      <script async="" src="https://api.countapi.xyz/hit/studiovdk.herokuapp.com/visits?callback=cb"></script>
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
      <script src="js/ruang-admin.js"></script>
      <script src="vendor/chart.js/Chart.min.js"></script>
      <script src="js/demo/chart-area-demo.js"></script>
      <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>
      <script src="vendor/datatables/jquery.dataTables.min.js"></script>
      <script src="js/ruang-admin.js"></script>
      <script id='pixel-script-poptin' src='https://cdn.popt.in/pixel.js?id=7ae7e40116347' async='true'></script> 
      <script type="text/javascript">
        window.$crisp = [];
        window.CRISP_WEBSITE_ID = "1c7170fa-cbdb-498a-ba0d-9e6b1ea52df9";
        (function() {
          d = document;
          s = d.createElement("script");
          s.src = "https://client.crisp.chat/l.js";
          s.async = 1;
          d.getElementsByTagName("head")[0].appendChild(s);
        })();
      </script>
      <script>
        document.addEventListener("DOMContentLoaded", function() {
          vikoapi();
        })
        document.addEventListener("DOMContentLoaded", function() {
        startTime();
        })
      </script>
      <script>
        $(document).ready(function() {
          $('#dataTable').DataTable(); // ID From dataTable 
          $('#dataTableHover').DataTable(); // ID From dataTable with Hover
        });
      </script>
    </div>
  </div>
</body>
</html>
